<head>
    <link rel="stylesheet" type="text/css" href="public/css/footer.css">
</head>
<body>
    <div id="footer_root">
        <div class="footer_content">
            <div class="footer_grid">
                <a href="https://github.com/kol845"><img src="public/images/icons/github.png" alt="Github logo"></a>
                <a href="https://www.linkedin.com/in/pebo-hamza-32689217b/"><img src="public/images/icons/linkedin.png" alt="Linkedin logo"></a>
            </div>
            @ 2020 Pebo Hamza
        </div>
    </div>
</body>

