<div class="header">
    <div class="header_content" id="myTopnav">
        <a href="/" class="header_home">Pebo Hamza</a>
        {{#if creativeSelected}}
                <a href="/creative" class="header_links selected">Creative</a>
        {{else}}
        <a href="/creative" class="header_links">Creative</a>
        {{/if}}

        {{#if portfolioSelected}}
        <a href="/portfolio" class="header_links selected">Portfolio</a>
        {{else}}
        <a href="/portfolio" class="header_links">Portfolio</a>
        {{/if}}

        <a href="javascript:void(0);" class="hamburger icon" onclick="myFunction()">
            <div></div>
            <div></div>
            <div></div>
        </a>
        
    </div>
</div>