<!DOCTYPE html>
<html>
    <head>
        <link rel="icon" href="public/images/favicon.png">
        <link rel="stylesheet" type="text/css" href="public/css/reset.css">
        <link rel="stylesheet" type="text/css" href="public/css/global.css">
        <link rel="stylesheet" type="text/css" href="public/css/header.css">
        <link rel="stylesheet" type="text/css" href="public/css/creative.css">
        <title>Creative</title>
    </head>
    <body>
        <div class="root">
            {{> header creativeSelected=true}}

            <div class= "main_box">
                <img class="item1" src="public/images/creative/army_me.jpg">
                <div>
                    <p class="item2">Army of Pebo's</p>
                </div>
                <div>
                    <p class="item2">Me as Martin Luther King</p>
                </div>
                <img class="item1" src="public/images/creative/king_me.jpg">

                <img class="item1" src="public/images/creative/stalin_me.jpg">
                <div>
                    <p class="item2">Me as Joseph Stalin</p>
                </div>
                <div>
                    <p class="item2">Me as Jesus</p>
                </div>
                <img class="item1" src="public/images/creative/jesus_me.jpg">

                <img class="item1" src="public/images/creative/pebo_logo.jpg">
                <div>
                    <p class="item2">My logo</p>
                </div>
                <div>
                    <p class="item2">Many me's</p>
                </div>
                <img class="item1" src="public/images/creative/many_mes.png">

                <img class="item1" src="public/images/creative/toast_history.png">
                <div>
                    <p class="item2">Concept art for a Toast website</p>
                </div>

            </div>
            <!-- This will be filled with HBS -->
            {{> footer }}
        </div>
    </body>
</html>