<!DOCTYPE html>
<html>
    <head>
        <link rel="icon" href="public/images/favicon.png">
        <link rel="stylesheet" type="text/css" href="public/css/reset.css">
        <link rel="stylesheet" type="text/css" href="public/css/global.css">
        <link rel="stylesheet" type="text/css" href="public/css/header.css">
        <link rel="stylesheet" type="text/css" href="public/css/portfolio.css">
        <script rel="script" src="public/data/static.js"></script>
        <script rel="script" defer src="public/portfolio/js/dom.js"></script>

        <title>Portfolio</title>
    </head>
    <body>
        <div class="root">
            {{> header portfolioSelected=true}}
            <section class="section_container" style="background-color: orange;" id="portf_intro_container">
                <div id="welcome_container">
                    <div id="profile_picture_container">
                        <div class="line_seperator"></div>

                        <img id="profile_picture" src="public/images/portfolio/transparent_round_profile.png" alt="Profile picture"></img>

                    </div>

                    <div id="portf_welcome_message">
                        <p style="font-weight: bold;">Welcome to my portfolio!</p><br/>
                        <p>Here is a showcase of some projects that i’ve created during my years in KTH, Hyperisland and on my free time.</p>
                    </div>
                </div>

                <div id="content_container">
                    <h2>Content:</h2>
                    <div id="portf_content_container">

                    </div>
                </div>
            </section>
            <!-- This will be filled with JS -->
            <div id="projects_container">

            </div>

            




            <!-- This will be filled with HBS -->
            {{> footer }}
        </div>

    </body>
</html>