<!DOCTYPE html>
<html>
    <head>
        <link rel="stylesheet" type="text/css" href="public/css/reset.css">
        <link rel="stylesheet" type="text/css" href="public/css/global.css">
        <link rel="stylesheet" type="text/css" href="public/css/header.css">
        <link rel="stylesheet" type="text/css" href="public/css/portfolio.css">
        <title>Creative</title>
    </head>
    <body>
        <div class="root">
            {{> header portfolioSelected=true}}
            <section id="portf_intro_container" class="section_container" style="background-color: orange;">
                <img id="profile_picture" src="public/images/portfolio/transparent_round_profile.png" alt="Profile picture">
                <div id="portf_welcome_message">
                    <p style="font-weight: bold;">Welcome to my portfolio!</p><br/>
                    <p>Here is a showcase of some projects that i’ve created during my years in KTH, Hyperisland and on my free time.</p>
                </div>
                <div id="portf_content_container">
                    {{#each projects}}
                        <li>{{this.context.headline}} - {{this.context.description}}</li>
                    {{/each}}
                    
                </div>
            </section>
            <section class="section_container_2">
                
            </section>
            <section class="section_container">
                
            </section>
            <section class="section_container_2">
                
            </section>
        </div>
    </body>
</html>