.main_box{
    display: grid;
    background-color:#222222;
    grid-template-columns: auto auto;
    grid-template-rows: auto;
}
.main_box > div {
    background-color: #222222;
    text-align: center;
    color:white;
    font-size: 30px;
    margin:auto auto;
    width:50vw;
}
.main_box > img {
    width:50vw;
    color:white;
}


