.header{
    z-index: 1;
    display: inline-grid;
    margin:0;
    padding:0;
    background-color: black;
    
    height: 50px;
    width:100vw;
    align-items: center;
    font-size:16px;
}
.header_content{
    margin: auto;
    width:100vw;
    padding:10px;
    float:center;
    align-items: center;
    display:grid;
    grid-template-columns:1fr 1fr;
}
.home_btn_container{
  display:grid;
  grid-template-columns:1fr 1fr;
  align-content: start; 
  justify-items: center;

}
.link_btn_container{
  display:grid;
  grid-template-columns:5fr 1fr 1fr;
  grid-auto-flow: dense;
  justify-items: center;
}
.header_home{
    text-decoration:none;
    color:#fc7e00;
    float:left;
    font-weight: bold;

    /* margin-right:10vw; */
}
.header_links{
    color:white;
    text-decoration:none;
    /* margin:0px 15px; */
}
a{
  transition: letter-spacing 0.1s;
}
a:hover:not(.hamburger) {
    /* background-color: #ddd; */
    /* font-weight:normal; */
    letter-spacing: 1.5px;
    /* color: black; */
  }
.selected{
    color:#fc7e00;
}
.hamburger{
    width:1rem;
    height:1rem;
    
}
.hamburger div{
    width: 100%;
    height: 14%;
    background-color: white;
    margin: 17% 0px;
}
.icon {
    display:none;
}
@media (max-width:900px){
    .header_content{
        margin:auto;
    }

}
@media screen and (max-width: 700px) {

    .header{
      font-size:14px;
    }
    .home_btn_container{
      grid-template-columns:2fr 1fr;
    }
  }
