:root {
    /* --background: #575757; */
    --background: #222222;
    --round-radious:6px;
    /* --background_first: rgb(255,255,255);
    --background_second: rgb(155, 155, 155); */
}
.primary-color{
    color:var(--primary-color);
}
.underline{
    text-decoration: underline;;
}

#home-body{
    background-color: var(--background);
    padding:70px 0px;
    display:flex;
    justify-content:center;
    align-items:center;
}
#left-text-container{
    width:500px;
    display:inline-block;
    margin:0 3vw;
    z-index:1;
}
#headline-container{
    margin-bottom: 24px;
}
#headline-container h1{
    font-size:36px;
}
#rect-divider{
    width:60px;
    height:8px;
    background-color: white;
    border-radius:2px;
}
#left-text-container p{
    font-size:18px;
}
#skill-container{
    margin-top:24px;
    margin-bottom: 24px;
    padding:10px;
    background-color: rgba(255,255,255,0.05);
    border-radius:var(--round-radious);
    display: inline-block;
    
}
#skill-container p{
    font-size:24px;
}

.cta-button{
    font: var(--primary-font);
    font-size:24px;
    padding:10px;
    background-color:var(--primary-color);
    color:white;
    text-decoration: none;
    text-align: center;
    border: none;
    border-radius:var(--round-radious);
    cursor: pointer;
    transition: 0.2s;
    box-shadow: 0px 4px 4px 0px rgba(0,0,0,0.25);
    
}
/*Right Content*/
#right-content-container{
    margin:0 3vw;
    opacity:0.7;
}
/*HOVERS*/
.cta-button:hover{
    background-color:rgb(255,255,255);
    color:var(--primary-color);

    
}

/*MEDIA*/
@media (max-width:700px){
    #right-content-container{
        position:absolute;
        z-index:0;
        opacity:0.2;
    }
}
@media (max-width:500px){
    #left-text-container{
        width:90vw;
        
    }
}